* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@font-face {
  font-family: 'PT Sans Regular';
  src: url("../fonts/PTSans-Regular.eot");
  src: url("../fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Bold';
  src: url("../fonts/PTSans-Bold.eot");
  src: url("../fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PT Sans Regular', sans-serif;
  color: #ffffff;
}

.header {
  background: url("../img/background1.jpg") no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 68px;
}

.navbar__date {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  font-family: 'PT Sans Bold', sans-serif;
}

.title-logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65px 65px;
      grid-template-columns: 65px 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-logo__text {
  color: #ffffff;
  padding-bottom: 2px;
  padding-left: 10px;
  font-family: 'PT Sans Bold', sans-serif;
}

.content {
  text-align: center;
  padding: 0vh 12vh;
  padding-top: 10vh;
}

.content h1 {
  margin: 0;
  color: #ffffff;
  font-family: "PT Sans Caption";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 2px;
}

.header-search {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: 7vh;
}

.search {
  background-color: #ffffff;
  color: #000000;
  width: 720px;
  height: 80px;
  border-radius: 7px;
}

.search__form {
  height: 80px;
  padding: 10px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  font-size: 24px;
  width: 100%;
  border: none;
}

.search__after {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  color: #ffffff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 45px;
  width: 720px;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.search__text {
  letter-spacing: 0.5px;
}

.search__text p {
  margin: 0;
  padding: 0;
  display: inline;
  color: #ffffff;
}

.search__text a {
  display: inline;
  color: #77b53c;
}

.search__text a:hover {
  color: #84c248;
}

.search__text a:active {
  color: #5e8f2f;
}

.button {
  display: inline-block;
  border: none;
  color: #ffffff;
  padding: 13px 27px;
  margin-left: 60px;
  text-decoration: none;
  background-color: #5f6062;
  font-size: 22px;
  letter-spacing: 1px;
  border-radius: 8px;
  text-align: center;
  outline: none;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
  font-family: 'PT Sans Regular', sans-serif;
}

.button:focus, .button:hover {
  text-decoration: none;
  color: #ffffff;
}

.button:hover {
  background-color: #6c6d6f;
}

.button:active {
  background-color: #464748;
}

.create {
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create__button {
  display: inline-block;
  background-color: #77b53c;
  padding: 15px 40px;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  border-radius: 8px;
  text-align: center;
  outline: none;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
  font-family: 'PT Sans Bold', sans-serif;
}

.create__button:focus, .create__button:hover {
  text-decoration: none;
  color: #ffffff;
}

.create__button:hover {
  background-color: #84c248;
}

.create__button:active {
  background-color: #5e8f2f;
}

.down {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: 15vh;
}

.section {
  background-color: #ffffff;
  min-height: 100vh;
  color: #333333;
}

.section__content {
  max-width: 1200px;
  margin: auto;
}

.section-logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65px 65px;
      grid-template-columns: 65px 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 68px;
}

.section-logo__text {
  color: #333333;
  padding-bottom: 2px;
  padding-left: 10px;
  font-family: 'PT Sans Bold', sans-serif;
}

.section-title {
  margin: 30px 0px 60px 0px;
  text-align: center;
  font-size: 35px;
  font-family: 'PT Sans Bold', sans-serif;
}

.feature-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.feature-block__item {
  text-align: center;
  margin-bottom: 60px;
}

.feature-block__text {
  padding: 0px 10px;
  font-size: 20px;
  font-family: 'PT Sans Regular', sans-serif;
}

@media screen and (max-width: 991px) {
  .section-title {
    margin: 15px 0px 60px 0px;
    text-align: center;
    font-size: 25px;
    font-family: 'PT Sans Bold', sans-serif;
  }
  .feature-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .feature-block__item {
    margin-bottom: 20px;
  }
  .feature-block__text {
    font-size: 15px;
  }
}

.footer {
  background: url("../img/background2.jpg") no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.footer__container {
  max-width: 1200px;
  margin: auto;
}

.footer-logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65px 65px;
      grid-template-columns: 65px 65px;
  min-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo__text {
  color: #ffffff;
  padding-bottom: 2px;
  padding-left: 10px;
  font-family: 'PT Sans Bold', sans-serif;
}

.footer__title {
  text-align: center;
  margin: 30px 0px 60px 0px;
  font-size: 35px;
  font-family: 'PT Sans Bold', sans-serif;
}

.footer__text {
  text-align: center;
  font-size: 50px;
  font-family: 'PT Sans Bold', sans-serif;
}

.actions {
  display: -ms-grid;
  display: grid;
  background-color: #df4a5e;
  min-height: 110px;
  max-width: 1090px;
  margin-top: 50px;
  border-radius: 7px;
}

.actions__button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 2fr;
      grid-template-columns: 6fr 2fr;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  line-height: 1.3;
}

.actions__plus {
  font-size: 50px;
  font-family: "PT Sans Caption";
}
/*# sourceMappingURL=style.css.map */